<section>
    {{ with .Site.Params.recentposts.title }}
        <h2>{{ . }}</h2>
    {{ end }}

	<div class="row">
        <ul class="recent-posts">
        {{ range first 5 (where .Data.Pages "Section" "post") }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                <div class="time">
                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;
                    <time datetime="{{ .Date }}">{{ .Date.Format .Site.Params.date_format }}</time>&nbsp;&nbsp;
                    {{ if isset .Params "tags" }}
                        {{ $tagsLen := len .Params.tags }}
                        {{ if gt $tagsLen 0 }}
                            <i class="fa fa-tags"></i>&nbsp;&nbsp;
                            {{ range $k, $v := .Params.tags }}
                            <a class="article-category-link" href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}">{{ . }}</a>
                            {{ if lt $k (sub $tagsLen 1) }}&middot;{{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </div>
            </li>
        {{ end }}
        </ul>
	</div>
</section>
